packages:
  yum:
    python27: []
    python27-devel: []
    make: []
    httpd-devel: []

commands:
  01installmodwsgi27:
    command: '[ -f mod_wsgi-3.4.tar.gz ] && echo "mod_wsgi-3.4 is already installed" || { wget http://modwsgi.googlecode.com/files/mod_wsgi-3.4.tar.gz; tar xzvf mod_wsgi-3.4.tar.gz; cd mod_wsgi-3.4; ./configure --with-python=python27; make; make install; } | iconv -f utf-8 -t us-ascii//TRANSLIT'

  02usepython27:
    command: grep "python2.7" 03deploy.py || sed -i 's/--distribute/--python=python2.7 &/' 03deploy.py
    cwd: /opt/elasticbeanstalk/hooks/appdeploy/pre

container_commands:
  01replacewsgiconf:
    command: scp /opt/python/ondeck/app/wsgi.conf /opt/python/ondeck/wsgi.conf